/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong.
2. Từ trên xuống dưới.
3. Tổng quan đến chi tiết.
*\

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

/* Common */
.clear {
    clear:both
}

.text-white {
    color: #fff !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border:none;
}

.btn:hover {
    color: black;
    background-color: grey;
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear:both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}



/*  */

#main {

}

#header {
    height:46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {    
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {   
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;  
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: gray;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)  ;
    min-width: 160px;
    top:100%;
    left: 0;
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
 
#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;    
    padding: 0 21px;  
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: black;
}

#header .mobile-menu-btn:hover {
    background-color: grey;
    
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}


#slider {
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/css/img/slider.jpg') top center / cover no-repeat;
   
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;       
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    
}

#slider .text-description {
    font-size: 15px;
    margin-top: 15px;
}

#content {
    
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;   
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.6 ;
}

#content .member-list {
    margin-top: 48px;
    
}

#content .member-item {
    float: left;
    width: 33.33333%;  
    text-align: center;
}

#content .member-name {
    font-size: 20px;
    
}

#content .member-img {
    margin-top: 15px;
    height: 154px;
    border-radius: 5px;
}

/* Booking Section */
.booking-section {
    background-color: black ;
}

.tickets-list {
    background-color: white;
    margin-top: 41px;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: red;
    color: white;
    padding: 3px 4px;


}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 51%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

.places-list{  
    margin: 32px -8px ;   
}

.places-items{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
    display: block;
}


.place-img:hover {
    opacity: 0.6;
}

.place-body{
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
    
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-address{
    margin-top: 15px;
    color: grey;
}

.place-discription{
    margin-top: 15px;
    line-height: 1.6;
}



.modal {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);    
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: white;
    width: 900px;
    max-width: calc(100% - 50px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease.7s ;
}

.modal-header {
    background: rgb(66, 196, 157);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-heading-icon {
   margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
    background: red;
}

.modal-body {
    padding: 16px;    
}

.modal-label {
    display: block;
    font-size: 20px;
    margin-top: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background:rgb(66, 196, 157) ;
    border:none;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: rgb(94, 189, 212);
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
    display: inline-block;  
}

.contact-info a {
    color: blue;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-controll {
    padding: 10px;
    border: 1px solid #CCC;
    width: 100%;
    outline-color: green;
}

.map-section img {
    width: 100%;
}



@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }   
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;

}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6)
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6)
}

.carousel {
    background: #EEE;
    
  }
  
.carousel-cell {
    width: 66%;
    height: 600px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
}
  
  /* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* Highlight */
/* .highlight-details {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 50px;
} */
/* 
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table h2 {
    font-size: 16px;
    color: #624426;
    padding-top: 30px;
    margin-bottom: 12px;
    margin-top: 0;
} */

.highlight-item {
    margin-bottom: 16px;
}

.highlight-details {
    margin-left: 16px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 205px;
    overflow: auto;
    
}


.highlight-details-list {
    font-family: "Times New Roman";
    font-size: 1em;
    color: #826f60;
    margin: 16px 0;
}

.highlight-details-dis{
    font-size: 12px;
    color: #000000;
    margin: 16px 0;
}

.highlight-details-l {
    text-align: right;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 205px;
    overflow: auto;
}

.btn-more {
    display: inline-block; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px 18px;
    border: 1px solid #826f60;
    /* box-shadow: 0px 0px 0px 1px #826f60; */
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #826f60;
    text-align: center;
}

.highlight-section {
    background-color: #ececec;
}

.highlight-image {
    width: 400px;
    height: 205px;
    border-radius: 8px;
}

.highlight-item {
    display: flex;
}







